.card__del-button {
  padding: 0;
  margin: 0;
  right: 20px;
  top: 20px;
  width: 18px;
  height: 19px;
  background: url("../../../images/del-button.svg");
  background-position: 100%;
  background-repeat: no-repeat;
  position: absolute;
  border: none;
  box-sizing: border-box;
  transition: opacity .3s linear;
  cursor: pointer;
}

.card__del-button:hover {
  opacity: .6;
}
