.form__submit {
  margin: 12px 0 0;
  padding: 14px 20px 18px;
  width: 100%;
  max-height: 50px;
  background: #000000;
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  cursor: pointer;
  transition: opacity .3s linear;
}

.form__submit:hover {
  opacity: .8;
}

.form__submit:disabled {
  background: #E5E5E5;
  border: 1px solid #000;
  color: #000;
  opacity: 0.2;
  cursor: auto;
}

@media screen and (max-width: 568px) {
  .form__submit {
    padding: 14px 20px;
    max-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
